
package components

import (
	"github.com/google/uuid"
	"github.com/topolovac/learning_projects/rate_my_lick/components/partials"
	"github.com/topolovac/learning_projects/rate_my_lick/services"
)

templ HomePage(samples []services.Sample, userId uuid.UUID) {
	@partials.Layout() {
		<h1>Leaderboard</h1>
		@Licks(samples, userId, true)
	}
}
