
package components

import (
	"github.com/topolovac/learning_projects/rate_my_lick/components/partials"
	"github.com/topolovac/learning_projects/rate_my_lick/services"
)

templ Home(samples []services.Sample) {
	@partials.Layout() {
		@Licks(samples)
	}
}
