
package components

import (
	"fmt"
	"github.com/topolovac/learning_projects/rate_my_lick/services"
	"strconv"
)

func getColor(index int) string {
	switch index {
	case 0:
		return "gold"
	case 1:
		return "silver"
	case 2:
		return "bronce"
	default:
		return ""
	}
}

templ Licks(samples []services.Sample) {
	<h1>Licks Of The Day</h1>
	for index, sample := range samples {
		<div class={ "lick-container", getColor(index) }>
			<h4>{ strconv.Itoa(index + 1) }. { sample.Name }</h4>
			<audio controls>
				<source src={ fmt.Sprintf("/static/licks/%s", sample.Filename) }/>
				Your browser does not support the audio element.
			</audio>
			<small>{ sample.Description }</small>
			<div class="rating-container">
				<div>
					<button>
						⭐
					</button>
					<span class="tooltiptext">Maestro</span>
					if sample.Ratings[1] > 0 {
						<small>{ strconv.Itoa(sample.Ratings[1]) }</small>
					}
				</div>
				<div>
					<button>
						🔥
					</button>
					<span class="tooltiptext">Excellent</span>
					if sample.Ratings[2] > 0 {
						<small>{ strconv.Itoa(sample.Ratings[2]) }</small>
					}
				</div>
				<div>
					<button>
						🎸
					</button>
					<span class="tooltiptext">Very good!</span>
					if sample.Ratings[3] > 0 {
						<small>{ strconv.Itoa(sample.Ratings[3]) }</small>
					}
				</div>
				<div>
					<button>
						😀
					</button>
					<span class="tooltiptext">Good</span>
					if sample.Ratings[4] > 0 {
						<small>{ strconv.Itoa(sample.Ratings[4]) }</small>
					}
				</div>
				<div>
					<button>
						😕 
					</button>
					<span class="tooltiptext">Needs Practice</span>
					if sample.Ratings[5] > 0 {
						<small>{ strconv.Itoa(sample.Ratings[5]) }</small>
					}
				</div>
			</div>
		</div>
	}
}
