
package components

import (
	"github.com/google/uuid"
	"github.com/topolovac/learning_projects/rate_my_lick/components/partials"
	"github.com/topolovac/learning_projects/rate_my_lick/services"
)

templ LickPage(sample services.Sample, userId uuid.UUID) {
	@partials.Layout() {
		<h1>{ sample.Name }</h1>
		@Lick(sample, userId)
	}
}
